<!DOCTYPE html>
<html>
<head>
    <title>Spotify</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
    <script data-main="js/main" src="require.js"></script>
</head>
<body>

<div class="container-fluid">
<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked" id="playlists">

        </ul>
    </div>
    <div class="span10" id="content"></div>
</div>
</div>


<!-- Templates -->
<script type="text/template" id="playlist-menuEntry">
    <a href="#playlist/<%= id %>"><%= name %></a>
</script>

</body>
</html>