# Sourcecode not to commit
loginData.js
spotify_appkey.key

# output
build/
settings/
cache/
events.js

#vim
*.swp

#emacs
.#.*
*~

#QtCreator
node-spotify.config
node-spotify.creator
node-spotify.creator.user
node-spotify.files
node-spotify.includes

#osx
.DS_Store

#IntelliJ
*.iml
.idea

# other files
executes.txt
TODOS
copyright.txt
node_modules/
