# Sourcecode not to commit
appkey.c
logindata.c
loginData.js

# output
build
tmp
events.js

#vim
*.swp
.clang_complete
.ycm_extra_conf.*

#osx
.DS_Store

#IntelliJ
*.iml
.idea

# other files
executes.txt
TODOS
