.gitmodules
executes.txt
copyright.txt
TODOS
spotify_appkey.key
test
lib/binding
build/
cache/
settings/

#qt creator
node-spotify.config
node-spotify.creator
node-spotify.creator.user
node-spotify.files
node-spotify.includes
