/* Will be compiled down to a single stylesheet with your sass files */
html, body, .container-fluid {
    height: 100%;
}

body {
    overflow: hidden;
}

.playlist-menu-entry {
    font-size: .9em;
}

#sidebar {
    height: 100%;
}

#playlist-menu {
    overflow: auto;
    height: 61%;
    font-size: 1.1em;
}

#playlist-menu a {
    padding-top: 2px;
    padding-bottom: 2px;
}

#now-playing {
    margin-top: 10px;
    width: 100%;
}

#player-controls {
    background-color: #999;
    width: 100%;
}

#content {
    height: 100%;
}

#playlist {
    overflow: auto;
    height: 98%;
}

#playlist td {
    line-height: 15px;
}

span.no-selection {
    -webkit-user-select: none; // webkit (safari, chrome) browsers
    -moz-user-select: none; // mozilla browsers
    -khtml-user-select: none; // webkit (konqueror) browsers
    -ms-user-select: none; // IE10+
}