/* Will be compiled down to a single stylesheet with your sass files */
html, body, .container-fluid {
    height: 100%;
}

body {
    overflow: hidden;
}

.playlist-menu-entry {
    font-size: .9em;
}

#header {
    margin-bottom: 2px;
}

#sidebar {
    height: 100%;
    max-width: 220px;
    width: 19.4043%
}

#playlist-menu {
    overflow: auto;
    height: 61%;
    font-size: 1.1em;
}

#playlist-menu a {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9em;
}

#now-playing {
    margin-top: 10px;
    width: 100%;
}

#player-controls {
    background-color: #999;
    width: 100%;
}

#content {
    height: 100%;
    width: 78.4681%;
}

#playlist {
    overflow: auto;
    height: 98%;
}

#playlist td {
    line-height: 15px;
}